.custom-input {
    position: relative;
    

    &__field {
        width: 300px;
        height: 52px;
        padding: 16px 146px 16px 16px;
        border: 1px solid #D6DCE6;
        border-radius: 8px;
        font-family: inherit;

        @include vp-1023 {
            width: 100%;
        }
    }

    &__field::placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    &__label {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        position: absolute;
        top: -20px;
        left: 0px;
        color: #8C8C8D;
    }
    
}